.App,
body,
.navbar,
html {
  background-color: rgb(250, 250, 250);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

h2 {
  color: darkslategray;
}

p {
  font-size: 18px;
  padding-right: 0.5em;
}

.container {
  margin-bottom: 3em;
}

#getStarted {
  border-radius: 0%;
}
#getStarted:hover {
  background-color: white;
}

.text-white {
  background-color: darkslategray;
}

.lead {
  max-width: 600px;
  margin-left: 1em;
  margin-right: 1em;
  padding: 0;
}

#standoutText {
  padding-left: 2em;
  padding-right: 2em;
}

#standoutText h2 {
  padding-top: 3px;
  padding-bottom: 3px;
  margin: 0;
}

.input-field label::after {
  color: black !important;
}

.link {
  color: black;
}

.link:hover {
  color: darkslategray;
}

.whitepaper-link {
  color: black;
  font-weight: 500;
}

.whitepaper-link:hover {
  color: black;
}

#navbar {
  background-color: transparent;
}

#navbar-brand {
  color: white;
}

.aboutSection {
  color: white;
  height: 50vh;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 30%;
  -ms-transform: translate(-30%, -50%);
  transform: translate(-30%, -50%);
  font-weight: bold;
}

.aboutSection h1 {
  font-size: 6em;
}

.aboutSection h2 {
  font-size: 4em;
  color: white;
}

.aboutSection h3 {
  font-size: 2em;
  color: white;
  padding-top: 6em;
}

.infoSection {
  height: 50vh;
  padding: 10%;
}

.infoSection h1 {
  font-size: 4rem;
}
