.App,
body,
.navbar,
html {
  background-color: rgb(250, 250, 250);
}

h2 {
  color: darkslategray;
}

p {
  font-size: 18px;
  padding-right: 1em;
}

.container {
  margin-bottom: 3em;
}

#getStarted {
  border-radius: 0%;
}
#getStarted:hover {
  background-color: darkslategray;
}

.text-white {
  background-color: darkslategray;
}

.lead {
  max-width: 600px;
  margin-left: 1em;
  margin-right: 1em;
}
