body {
  background-color: lightgray;
}

h2 {
  color: darkslategray;
}

p {
  font-size: 18px;
  padding-right: 1em;
}

.container {
  margin-bottom: 3em;
}

#getStarted {
  border-radius: 0%;
}
#getStarted:hover {
  background-color: darkslategray;
}

.text-white {
  background-color: darkslategray;
}
